body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

.container {
    max-width: 800px;
    margin: 20px auto;
    padding: 20px;
    background-color: #fff;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

h1 {
    color: #0e2e52;
    text-align: center;
    font-size: 24px;
}

h2 {
    font-size: 18px;
    margin-top: 0;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 15px;
}

a {
    text-decoration: none;
    color: #a6d1d8;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
}
